main {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;

  & #hero {
    & #heroTitle {
      & h1 {
        margin-top: 0.5rem;
      }
    }

    & .desktop-only {
      display: none;
    }
  }

  & #formBox {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-block: 2.5rem;

    & #formHeader {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      & p {
        font: var(--text-md);
      }
    }

    & #result {
      display: none;
      & #resultTitle {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        align-items: center;

        & h1 {
          text-transform: uppercase;
        }

        & p {
          text-transform: uppercase;
        }
      }

      & #drawnNumbers {
        display: flex;
        justify-content: center;
        gap: 0.25rem;
        flex-wrap: wrap;
        & .number {
          font-family: var(--ff-mono);
          font-size: 3rem;
          line-height: 150%;
          border-radius: 1.75rem;
          padding-inline: 1.375rem;
          padding-block: 1.125rem;
          color: var(--content-brand);
          animation-name: fallingNumbers;
          animation-duration: 1s;

          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
      }

      & .replay-btn {
        opacity: 0;
      }

      & .replay-btn.show {
        animation: appear 2s ease-in forwards;
      }
    }
  }
}

@media (width >= 80rem) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 8.375rem;

    & #hero {
      & .desktop-only {
        display: flex;
        margin-top: 2.375rem;
      }
      & #heroTitle {
        & h1 {
          font: var(--display-lg);
          margin-top: 0.75rem;
        }
      }
    }

    & #formBox {
      padding-left: 6.75rem;
      min-width: 45%;
      max-width: 45%;

      & #formHeader {
        & p {
          font: var(--text-lg);
        }
      }

      & #result {
        & #resultTitle {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
          align-items: center;

          & h1 {
            text-transform: uppercase;
          }

          & p {
            text-transform: uppercase;
          }
        }

        & #drawnNumbers {
          display: flex;
          flex-direction: row;
          gap: 0.25;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@keyframes fallingNumbers {
  0% {
    color: var(--content-brand);
    background-color: var(--content-brand);
    transform: translateY(-50%) rotate(0deg);
  }

  50% {
    color: var(--content-brand);
    background-color: var(--content-brand);
  }

  100% {
    color: var(--content-brand);
    background-color: none;
    transform: translateY(0%) rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
