main {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;

  & #hero {
    & #heroTitle {
      & h1 {
        margin-top: 0.5rem;
      }
    }
  }

  & #formBox {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-block: 2.5rem;

    & #formHeader {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      & p {
        font: var(--text-md);
      }
    }
  }
}

@media (width >= 80rem) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 8.375rem;

    & #hero {
      & #heroTitle {
        & h1 {
          font: var(--display-lg);
          margin-top: 0.75rem;
        }
      }
    }

    & #formBox {
      padding-left: 6.75rem;

      & #formHeader {
        & p {
          font: var(--text-lg);
        }
      }
    }
  }
}
